:root {

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

main {
    padding: 0 1em;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.products {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;
    width: 100%;
    margin-top: 1.5em;
}