@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Source+Sans+3:wght@400;700&display=swap');

:root {
    --main-text: #161616;
    --secondary-text: #5c5c5c;
    --main-font: 'Source Sans 3', 'Segoe UI', 'sans-serif';
    --accent-font: 'Crimson Text', serif;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 14pt;
    font-family: var(--main-font);
    margin: 0;
}

main {
    padding: 0 1em;
    margin-top: 96px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: var(--main-font);
    color: var(--main-text);
}

svg {
    height: 1.25em;
}

.products {
    display: flex;
    flex-flow: row wrap;
    column-gap: 2em;
    row-gap: 3em;
    justify-content: center;
    width: 100%;
    margin-top: 1.5em;
}