.total {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    padding: 1em;
    box-shadow: 0 -6px 18px -8px rgba(0,0,0,0.25)
}

.subtotal {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    font-weight: bold;
}

.checkout {
    color: white;
    background: var(--main-text);
    padding: 1em;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 175px;
    margin: auto;
    margin-top: 1em;
}