.cart {
    font-family: var(--main-font);
}

.cart-modal {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    max-width: 100%;
    transition: 0.25s ease;
    margin-right: -420px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.cart-badge.empty {
    display: none;
}

.cart-badge {
    box-sizing: content-box;
    position: absolute;
    display: flex;
    background: var(--main-text);
    border-radius: 100%;
    border: 2px solid white;
    height: 18px;
    width: 18px;
    top: 0;
    right: 0;
    margin-top: -0.5em;
    margin-right: -0.2em;
    align-items: center;
    justify-content: center;
}

.cart-badge-count {
    color: white;
    flex: 1 0 auto;
    font-size: 0.6em;
    font-weight: bold;
}

.open-cart:hover .cart-badge {
    background-color: #666666;
}

.open-cart {
    position: relative;
}

.open-cart:hover svg,
.open-cart:focus svg,
.open-cart:active svg {
    fill: #666666;
}

.cart-body {
    height: 100%;
}

.cart-items {
    padding: 0 2em;
    padding-bottom: 1em;
    width: 100%;
    height: calc(100% - 240px);
    overflow-y: auto;
}

.cart-modal.open {
    margin-right: 0;
}

.cart-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}

.close-cart {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 0.5em 0.75em;
}

.close-cart:hover svg,
.close-cart:focus svg,
.close-cart:active svg {
    fill: rgba(0,0,0,0.6);
}

h3 {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    padding: 0.5em 2em;
}