.total {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    padding: 1em;
    box-shadow: 0 -6px 18px -8px rgba(0,0,0,0.25)
}

.subtotal {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    font-weight: bold;
}

h6 {
    font-size: 1em;
    margin: 0;
    display: inline-block;
}

.checkout {
    color: white;
    background: var(--main-text);
    padding: 1em;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 175px;
    margin: auto;
    margin-top: 1em;
}

.checkout:hover, .checkout:active, .checkout:focus {
    background: rgba(0,0,0,0.6);
}

.cart-count {
    font-weight: normal;
    color: var(--secondary-text);
    margin-left: 0.25em;
}