.cart-modal {
    background: white;
    padding: 2em;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    transition: 0.25s ease;
    margin-right: -80%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.cart-modal.open {
    margin-right: 0;
}

.cart-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

h3 {
    margin: 0;
    padding: 0;
}