.cart-entry {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5em;
    width: 100%;
}

.cart-entry img {
    height: 120px;
    width: 90px;
    object-fit: cover;
    flex: 0 0 auto;
}

.cart-entry .details {
    flex: 1 1 auto;
    padding: 0 1em;
}

.cart-entry .remove {
    flex: 1 0 auto;
    text-align: right;
}

.remove svg {
    height: 0.8em;
}

.remove button:hover svg,
.remove button:focus svg,
.remove button:active svg {
    fill: rgba(0,0,0,0.6);
}

h5 {
    font-size: 0.8em;
    margin: 0;
    font-weight: normal;
}

.name {
    width: 60%;
}

.cart-entry .color {
    color: var(--secondary-text);
    font-size: 0.8em;
    display: block;
}

.cart-product .price-container {
    margin-top: 1em;
    font-size: 0.8em;
}

.price {
    font-weight: bold;
}