header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    display: flex;
    height: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    font-family: var(--accent-font);
}