ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

.navigation {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.8);
    margin-left: -270px;
    transition: 0.25s ease;
}

.open-nav:hover svg,
.open-nav:focus svg,
.open-nav:active svg {
    fill: rgba(0,0,0,0.6);
}

.nav-body {
    margin-top: 80px;
}

.nav-body button {
    width: 100%;
    padding: 0.1em 1em;
    text-align: left;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-body button:hover {
    background-color: rgb(245, 245, 245);
}

.sale {
    color: rgb(241, 78, 78);
}

.navigation.open {
    margin-left: 0;
}

.close-nav {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 0.5em 1em;
}

.close-nav:hover svg,
.close-nav:focus svg,
.close-nav:active svg {
    fill: rgba(0,0,0,0.6);
}

.nav-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

.account-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    padding: 1em;
}

.account-section hr {
    border-top: 0;
}

.account-section button {
    display: block;
}

.account-section button:hover,
.account-section button:active,
.account-section button:focus {
    background: rgba(0,0,0,0.06);
}

.account-section button:first-of-type {
    margin-top: 1em;
}