.colors {
    display: flex;
    flex-flow: row nowrap;
}

.color-select {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 2.5em;
    width: 2.5em;
    border-radius: 100%;
    margin-left: 0.5em;
    padding: 2px;
}

.color-select.selected {
    background: rgba(0,0,0,0.4);
}

.color-select:hover {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.color-border {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    padding: 3px;
    background: white;
}

.color-fill {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.4);
}