.product {
    width: 45%;
}

.product-image-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
}

.product img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: top;
    flex: none;
}

.product-image {
    position: relative;
}

@media screen and (min-width: 640px) {
    .product {
        width: 25%;
    }

    .product img {
        height: 200px;
    }
}