.colors {
    display: flex;
    flex-flow: row nowrap;
}

.color-select {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 1.75em;
    width: 1.75em;
    border-radius: 100%;
    margin-left: 0.5em;
    padding: 2px;
}

.color-select:first-of-type {
    margin-left: 0;
}

.color-select.selected {
    background: rgba(0,0,0,0.4);
}

.color-select:hover:not(:disabled) {
    background: rgba(0,0,0,0.2);
}

.color-border {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    padding: 3px;
    background: white;
}

.color-fill {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.4);
}