.product {
    width: 300px;
}

.product-image-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.product img {
    width: 300px;
    height: 380px;
    object-fit: scale-down;
    flex: none;
}

.product-image {
    position: relative;
}

.quick-add-container {
    position: absolute;
    height: 3em;
    width: 300px;
    margin-top: 300px;
    margin-left: 6px;
}

.quick-add {
    display: block;
    height: 100%;
    width: 75%;
    margin: auto;
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.quick-add:hover {
    background: #e9e9e9;
}

.product-color-select {
    height: 2.25em;
    width: 2.25em;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    margin-left: 0.5em;
}

.product-color-select:first-of-type {
    margin-left: 0;
}

.product-color-select:hover {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}